/* :root{
    --btn-color: rgb(0, 153, 255);
        --fw:500;
        --caps:capitalize;
    
    --clr:white;
    --body-clr:whitesmoke;
    --text-clr:rgba(0, 0, 0, 0.904);
} */
@media (prefers-color-scheme : light){
    :root{
        --btn-color: rgb(0, 153, 255);
        --fw:500;
        --caps:capitalize;
        
        --clr:white;
        --body-clr:whitesmoke;
        --text-clr:rgba(0, 0, 0, 0.904);
    }
    .insta-nav{
        background-color: var(--clr);
        box-shadow: 0 0 10px var(--body-clr);
    
    }
    
    
    

}


@media (prefers-color-scheme : dark){
    :root{
        --btn-color: rgb(0, 153, 255);
        --fw:500;
        --caps:capitalize;
        --text-clr:white; 
        /* --body-clr:whitesmoke; */
        --body-clr:rgba(0, 0, 0, 0.904);


    }
    .insta-nav{
        background-color: var(--body-clr);
        box-shadow: 0 0 10px var(--body-clr);
    
    }
}


    
.detect{
    background-color: var(--body-clr);
}

.slide-replica>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--body-clr);
}
.slide-replica {
    display: none;
    width: 30rem;
    height: 31rem;
    padding: 10px 0;
    background-color:var(--body-clr);
}
.detect-second{
    background-color: var(--body-clr);
    color: var(--text-clr);
    
}
.detect{
    background-color: var(--body-clr);
    color: var(--text-clr);
}
.common-class > svg{
    fill:var(--text-clr)
}
.github{
    fill: var(--text-clr);
}
.mobile-icons >  .active{
    border-bottom: 2px solid var(--text-clr);

}

.verified > svg{
    width: 13px;
    height: 13px;
    fill: var(--btn-color) ;
    /* background-color: red; */
}
.verified-big > svg{
    width: 20px;
    height: 20px;
    fill: var(--btn-color) ;
    

}
.verified-small > svg{
    width: 17px;
    height: 17px;
    fill: var(--btn-color) ;
    

}
/* #whole{
    display: none;
} */

/* popup */
.unique-img{
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100vh;
    z-index: 20;
    /* border: 1px solid red; */
    background-color: rgb(207, 207, 207,.4);
    /* backdrop-filter: blur(100px); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.slide-img{
    /* position: relative; */
    width: 30rem;
    height: 31rem;
    /* border: 1px solid black; */
    
}
.slide-img > .swiper-slide{
    width: 100%;
    height: 100%;
}

.cancel{
    position: absolute;
    top: 15px;
    right: 20px;
    /* background-color: red; */
    cursor: pointer;

}
.swiper-slide > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.car-comment > svg{
    width: 23px;
    height: 23px;
    /* fill: red; */
}
.car-share > svg{
    width: 23px;
    height: 23px;
    

}
.car-liked > svg{
    width: 23px;
    height: 23px;
    
    
}
.cancel > svg{
    width: 20px;
    height: 20px;
    color: gray;
}
.slick-prev,.slick-next{
    position: absolute;
    width: 26px;
    height: 26px;
    z-index: 4;
    outline: none;
    border: 0;
    clip-path: circle();
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.123);
    
    /* position: absolute; */

}

.slick-dots {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    align-items: center;
    list-style: none;

  }
.slick-dots > li{
    background-color: #fff;
    margin: 0 8px;
    /* border: 1px solid red; */
}
.slick-dots button {
    position: absolute;
    bottom: 3%;
    display: block;
    width: 9px;
    height: 9px;
    clip-path: circle();
    background-color: rgb(240, 255, 255,.4);
    outline: none;
    border: 0;
}
.slick-dots li.slick-active button{
    background-color: var(--clr);

}

.slick-prev{
    top: 50%;
    left: 1%;
}
.slick-prev::before{
    content: '<';
    font-size: large;
    font-weight: 900;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:gainsboro;

}
.slick-prev > span{
    width: 10px;
    height: 10px;
    /* background-color: red; */
}
.slick-next{
    top: 50%;
    right: 1%;
}
.slick-next::before{
    content: '>';
    font-size: large;
    font-weight: 900;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: gainsboro;

}


.slide-img  > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.mstr{
    display: flex;
}

.info-img{
    position: relative;
    width: 28rem;
    height: 31rem;
    /* border: 2px solid gainsboro; */
    background-color: var(--body-clr);
}
.loading{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 10;
    
    
    /* display: none; */
    /* display: none; */
    /* overflow: hidden; */
}
.load-box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 1px solid red solid red; */
    display: flex;
    flex-direction: column;
    align-items:center ;
    /* background-color: var(--text-clr); */


}
.load-box > svg{
    width: 100px;
    height: 100px;

}
.load-box > svg:nth-child(2){
    /* border:  1px solid red solid red; */
    width: 100px;
    height: 100px;
}


/* detect light mode */


input[type="search"]::placeholder{
    text-align: center;
    text-transform: capitalize;
    
}
input[type="search"]{
    width: 200px;
    outline: none;
    border: 0;
    padding: 3px;
    background-color: gainsboro;
    border-radius: 5px;

}

.insta-nav{
    width: 100%;
    height: 55px;
    /* background-color: var(--clr); */
    /* border-bottom:  1px solid red solid gainsboro; */
    
}
.nav-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.button-box > button{
    /* padding:px ; */
    outline: none;
    border: 0;
    border-radius: 4px;
    color: var(--clr);
    text-transform: var(--caps);
    font-weight: var(--fw);


}
.button-box > button:nth-child(1){
    background-color: var(--btn-color);
    padding: 3px 6px;
}
.button-box > button:nth-child(2){
    background-color: transparent;
    /* border:  1px solid red solid var(--btn-color); */
    color: var(--btn-color);

}

.logo > svg{
    width: 100px;
    height: 100px;
    /* fill:red */
    
    /* color: aqua; */
}
.web > svg{
    width: 20px;
    height: 20px;
}
.main-profile{
    width: 100%;
    /* min-height:270px ; */
    height: 230px;
    /* border:  1px solid red solid red; */
    display: flex;
    justify-content: center;

}
.big-img{
    display: grid;
    place-items: center;
    width: 300px;
    height: 230px ;
    
    /* border: 1px solid red; */
   
}
.big-img > img{
    /* align-self: stretch; */
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    /* padding: 10px; */
    /* background-color: white; */
    /* outline: 10px solid red; */
    /* outline: -2px solid gainsboro; */
    /* outline-offset:20px ; */
    /* outline: 3px solid ; */
    /* border: 1px solid transparent; */
    
    
}
.user-bio{
    
    width: 60%;
    height: inherit;
    /* border:  1px solid red ; */
    /* background-color: red; */
}
.name-with-btn{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    /* padding: 10px; */

}
.name-with-btn > p{
    font-weight: 100;
    font-size: 30px;
}
.name-with-btn > button:nth-of-type(1){
    width: 150px;
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: 0;
    background-color: var(--btn-color);
    color: white;
    text-transform: var(--caps);
    font-weight: var(--fw);


}
.name-with-btn > button:nth-of-type(2){
    width: 150px;
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: 0;
    background-color: var(--btn-color);
    color: white;
    text-transform: var(--caps);
    font-weight: var(--fw);


}

.share-btn {
    width: fit-content;
    height:40px;
    outline: none;
    border-radius: 6px;
    border: 0;
    padding: 0 10px;
    background-color: var(--btn-color);
    color: white;
    text-transform: var(--caps);
    font-weight: var(--fw);


}
.share-btn > svg{
    width: 20px;
    height: 20px;
    /* font-weight: bold; */
    /* outline: none; */
}

.child > .img-1{
    background-image: linear-gradient(45deg,red,blue);
}
.child > .img-2{
    background-image: linear-gradient(45deg,orange,yellow);
}
.child > .img-3{
    background-image: linear-gradient(45deg,grey,white);
}
.child > .img-4{
    background-image: linear-gradient(45deg,green,lightgreen);
}
.child > .img-5{
    background-image: linear-gradient(45deg,brown,violet);
}




.bio-box > ul > li{
    line-height: .6cm;
}
.count-box{
    display: flex;
    justify-content: start;
    align-items: center;
    width: fit-content;
    height: 40px;
    /* border:  1px solid red; */
}
.count-box > p{
    font-size: large;
    /* border: 1px solid red; */
    
}
.count-box > p:nth-child(1){
    font-weight: 600;

}

.highlights{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-columns: repeat(10,130px);
    gap: 100px;
    overflow-y: auto;
    /* border:  1px solid red solid red; */

}
.highlights::-webkit-scrollbar{
    display: none;
}
.child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:130px ;
    /* border:  1px solid red solid green; */
    /* padding: 10px; */
}
.child > .img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.icons-post{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-post > h6{
    text-transform: uppercase;
    /* margin: 0 40px; */
    display: flex;
    width: 150px;
    height: 30px;
    justify-content: center;
    align-items: center;
    /* border:  1px solid red solid red; */

}
.tech > li{
    text-transform: capitalize;
    font-weight: 700;

}
.tech > li > span > svg{
    width: 30px;
    height: 30px;
}
.img-col{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-col > img{
    /* position:absolute; */
    cursor: pointer;
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    
}
img:hover ~ .parent-hover{
    opacity: .7;
    background-color:black;
    color: var(--clr);
    width: 90%;
    height: 90%;
}
.parent-hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* width: 90%;
    height: 90%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;

}
.hover-text > span > svg{
    width: 14px;
    height: 14px;
    fill: white;
}

/* for mobile devices */
.top-mobile-nav{
    width: 100%;
    height: 50px;
    /* border:  1px solid red solid black; */
    display: flex;
    /* border-bottom:  1px solid red solid gray; */
    
    align-items: center;
}
.back-icon{
    margin-left: 10px;
}
.back-icon > svg{
    width: 26px;
    height: 26px;
    /* fill: aqua; */
    /* fill: var(--text-clr); */
}
.options-menu{
    margin-right: 10px;
}
.options-menu > svg{
    width: 26px;
    height: 26px;
    fill: var(--text-clr);


}
.mobile-flex-box{
    width: 100%;
    height: 8rem;
    /* border:  1px solid red solid red; */
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    justify-content: start;
    /* padding: 8px; */

}
.mobile-flex-box > img{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-left: 10px;
}
.mobile-stats{
    display: flex;
    width: 60%;
    height:89px ;
    margin-left: 16px;
    /* border: 2px solid red; */
    align-items:center;
    justify-content:space-around;
    /* justify-content: space-around; */

}

.mobile-icons{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
}
.mobile-icons > .insta-icon{
    display: grid;
    place-items: center;
    flex: 1 ;
    height: inherit;
    /* border: 1px solid blue; */
}
.mobile-icons > .insta-icon > svg{
    width: 20px;
    height: 20px;
}

.post-box {
    /* border: 1px solid red; */
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.post-box > div{
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    /* font-weight:700 ; */
}
.post-box > div:nth-child(1){
    font-weight: bold;
    font-size: 18px;
}
.mobile-bio{
    padding-left: 10px;
}
.mobile-bio > ul > li{
    line-height: .2cm;
}
.mutual {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    /* border:  1px solid red; */
}
.known-people > img{
    position: absolute;
    left: 1%;
    top: 6px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: 2px solid red;
    object-fit: cover;
    object-position: center;

}
.one:nth-child(3){
    left:45px;
    z-index: -5;
}
.one:nth-child(2){
    left: 25px;
    z-index: -2;
}
/* footer */
.creator{
    /* border:  1px solid red solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* line-height: 1cm; */
}
.creator > img{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    object-fit: cover;
    object-position: center;
    
}
.made-in{
    letter-spacing:  1px solid red;
}
.mail-id {
    border:  1px solid gainsboro;
    border-radius: 30px;
    padding: 0 10px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.26);
}
.creator > p{
    line-height: 1cm;
}
.mail-id > a{
    text-decoration: none;
    color: gray;
    font-weight: 500;
    /* line-height: .1cm; */
}
.mail-id > a:hover{
    text-decoration: none;
    color: var(--text-clr);
    font-weight: 500;
    /* line-height: .1cm; */
}

.mail-id > span > svg{
    width: 30px;
    height: 30px;
}
.responsive-container{
    width: 90%;
    margin: auto;
}
/* carousel */
.car-top{
    /* padding: 10px; */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.car-top > img{
    margin: 0 10px;
    width: 30px;
    height: 30px;
    clip-path: circle();
    object-fit: cover;
    object-position: center;
}
.car-follow-text{
    margin: 0 2px;
    text-transform: capitalize;
}
.car-option{
    margin-left: auto;
    margin-right: 10px;

}
.car-cmt-box{
    margin: 5px 0;
    display: flex;
    width: 100%;
    height: fit-content;
    /* border: 1px solid red; */
}
.car-cmt-box > img{
    margin: 0 10px;
    width: 33px;
    height: 33px;
    clip-path: circle();
    object-fit: cover;
    object-position: center;
}
.car-content{
    /* margin: 0 10px; */
    width: 100%;
    height: inherit;
    /* border: 2px solid black; */
}
.car-content> div > .special{
    margin-right: 6px;
}
.muted-info{
    font-size: small;
    width: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
}
.special{
    font-weight: 600;
}
.car-icon{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    padding: 0 10px;
}
.car-icon > span:nth-child(2){
    margin: 0 13px;
}
.bookmark > svg{
    width: 23px;
    height: 23px;
    /* margin-left: auto; */
}
.bookmark{
    margin-left: auto;
}
.smiley > svg{
    width: 23px;
    height: 23px;

}
.liked-by{
    /* margin: 0 10px; */
    display: flex;
    align-items: center;
    
}
.post-clr{
    color: var(--btn-color);
}
.liked-by > img{
    margin: 0 10px;
    
    width: 19px;
    height: 19px;
    clip-path: circle();
    object-fit: cover;
    object-position: center;

}
.liked-by > div > span{
    font-weight: 500;
}
.days-ago{
    margin: 0 10px;
}
.your-comments{
    padding: 4px;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    /* margin-bottom: 0; */
    width: 100%;
    height: 48px;
    border-top: 1px solid gainsboro;
    /* border: 1px solid red; */
}

.my-post-container{
    /* background-color: red; */
    width: 400px;
    margin: auto;
}

@media screen and (max-width:600px){
    .highlights{
        gap: 10px;
        grid-template-columns: repeat(6,100px);
    
    }
    .icons-post{
        display: flex;
        gap: 60px;
    }
    .icons-post > h6{
        text-transform: uppercase;
    }
    
    .img-col > img{
        padding:  1px ;
    
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        
    }
    img:hover ~ .parent-hover{
        opacity: .7;
        background-color:black;
        color: var(--clr);
        width: 100%;
        height: 100%;
    }
    .known-people {
        position: relative;
        width: 100px;
        height:50px ;
        /* border:  1px solid red; */
    }
    
    
    .known-people > .one{

        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid var(--clr);
        object-fit: cover;
        object-position: center;
    
    }
    .their-info{
        width: 100%;
        height: 50px;
        /* border: 1px solid red; */
        padding:0 6px;
    }
    .their-info > p{
        width: 98%;
        font-size: small;
        /* border: 1px solid blue; */
    }
    .mobile-button{
        width: 100%;
        height: 34px;
        display: flex;
        align-items: center;
        /* border: 1px solid red; */
        justify-content: space-evenly;
    }
    .mobile-button > button:nth-child(1){
        width: 42%;
        height: inherit;
        border-radius: 6px;
        outline: none;
        border: 0;
        background-color: var(--btn-color);
        color: var(--clr);
        text-transform:var(--caps);
        font-weight: var(--fw);
    
    
    }
    .mobile-button > button:nth-child(2){
        width: 42%;
        height: inherit;
        border-radius: 6px;
        outline: none;
        border: 0;
        background-color: var(--btn-color);
        color: var(--clr);
        text-transform: var(--caps);
        font-weight: var(--fw);
    
    }
    .share-btn {
        height:inherit;

    }
    .mobile-icons{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* border: 1px solid red; */
    }
    .mobile-icons > .insta-icon{
        display: grid;
        place-items: center;
        flex: 1 ;
        height: inherit;
        /* border: 1px solid blue; */
    }
    .mobile-icons >  .active{
        border-bottom: 2px solid black;

    }
    .mobile-icons > .insta-icon > svg{
        width: 20px;
        height: 20px;
    }

    
    .child > .img{
        width: 70px;
        height: 70px;

    }
    .unique-img {
        display: none;
    }
    
    .unique-img > .slide-img{
        width: 87%;
        height: 70%;
        /* background-color: blue; */
        /* margin: 20rem; */
    }
    .parent-hover{
        display: none;
    }
    .unique-img > .info-img{
        display: none;
    }
    .responsive-container{
        width: 100%;
        margin: auto;
    }
    ::-webkit-scrollbar{
        width: 0;
    }

    /* next page */
    ::-webkit-scrollbar{
        display: none;
    }
    
    .my-post-container {
        width: 100%;

    }
    /* next page design */
     /* top */
     .post-nav {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

    .back-icon>svg {
        width: 24px;
        height: 24px;
    }

    .post-options {
        margin-left: auto;
    }

    .post-top-text {
        text-transform: capitalize;
        font-weight: bold;
    }

    /* post-top */
    .post-picture-top {
        width: 100%;
        height: 49px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        /* border: 1px solid red; */
    }

    .post-picture-top>img {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        clip-path: circle();
    }

    .user-name {
        font-size: medium;
        font-weight: 600;
        margin: 0 10px;
    }

    /* post-area */
    .post-area {
        position: relative;
        display: flex;
        overflow-x: auto;
        white-space: no-wrap;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        min-height: auto;
        height: fit-content;
        /* border: 1px solid red; */
        scroll-behavior: smooth;

    }

    .post-area::-webkit-scrollbar {
        display: none;
    }

    .swiper-slide {
        /* position: absolute; */
        width: 100%;
        height: fit-content;
    }

    .slide-img {
        width: 100%;
        height: fit-content;
    }


    .main-img {
        /* flex: 1; */
        width: 100%;
        height: fit-content;
        object-fit: cover;
        object-position: center;
    }

    /* post-tools */
    .post-tools {
        width: 100%;
        height: 44px;
        display: flex;
        /* border: 1px solid red; */
        align-items: center;
        padding: 0 10px;
    }

    .unlike,
    .comment,
    .share {
        fill: var(--text-clr);
        width: 26px;
        height: 26px;
    }
    .comment{
        margin: 0 18px;
    }

    .book-mark {
        margin-left: auto;


    }

    .book-mark>svg {
        width: 26px;
        height: 26px;
    }

    /* liked-by */
    .post-liked-by {
        width: 97%;
        height: 32px;
        display: flex;

        /* border: 1px solid red; */
        padding: 0 10px;
    }

    .two-mutual {
        position: relative;
        width: 68px;
        /* border: 1px solid red; */
        height: inherit;

    }

    .two-mutual>img {
        position: absolute;
        width: 25px;
        height: 25px;
        object-fit: cover;
        object-position: center;
        clip-path: circle();

    }

    .two-mutual>img:nth-child(2) {
        z-index: -1;
        left: 30%;
    }

    .two-mutual>img:nth-child(3) {
        z-index: -2;
        left: 55%;
    }

    .post-liked-by>p {
        padding: 0 10px;
    }

    .post-caption {
        width: 100%;
        padding-left: 10px;
    }
    .post-caption > p{
        /* border: 1px solid red; */
        font-size: 14.5px;
    }

    .special {
        font-weight: 600;
        font-size: 16px;
    }

    .view-comments {
        padding: 0 10px;
        color: gray;
        line-height: .1cm;
        font-size: medium;
        font-weight: 400;
    }

    ul>li {
        display: flex;
        line-height: .2cm;
        padding: 0 10px;
        width: 100%;
        margin-bottom: 2px;
        /* border: 1px solid red; */
        height: 20px;
    }

    .heart-comment {
        margin-left: auto;
    }

    .heart-comment>svg {
        width: 15px;
        height: 15px;
        fill: gray;
    }

    li>.mention {
        color: rgba(35, 45, 184, 0.849);
        margin-right: 4px;
        font-weight: 400;
    }

    .date {
        margin-top: 4px;
        font-size: x-small;
        color: gray;
    }

    /* jquery */
    .unlike>svg:nth-child(2) {
        display: none;
    }

    .animated {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        filter: brightness(100) drop-shadow(0 0 20px grey);
        /* filter: ; */
        color: aliceblue;
        /* width: 100px;
    height: 100px; */
        z-index: 6;
        animation: inout .8s ease-in-out;
        /* background-color: aliceblue; */
    }

    /* like animation */
    @keyframes inout {
        0% {
            /* opacity: .1; */
            width: 1px;
            height: 1px;
        }

        30% {
            opacity: 1;
            width: 100px;
            height: 100px;
        }

        100% {
            width: 0px;
            height: 0px;
            /* opacity: 0; */

        }
       

    }
    .like-by-text-small{
        font-size: 14.5px;
        /* border: 1px solid red; */
        width: 85%;
        height: fit-content;
    }
    .bold-text{
        font-weight:600;
    }
    

    
}

    
    
    
    
    
    
    
